<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKémon | Pikachu</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/details.css">
</head>

<body>
    <header>
        <h1><a href="index.php">IKémon</a> > Pikachu</h1>
    </header>
    <div id="content">
        <div id="details">
            <div class="image clr-electric">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="">
            </div>
            <div class="info">
                <div class="description">
                    Pikachu that can generate powerful electricity have cheek sacs that are extra soft and super
                    stretchy. </div>
                <span class="card-type"><span class="icon">🏷</span> Type: electric</span>
                <div class="attributes">
                    <div class="card-hp"><span class="icon">❤</span> Health: 60</div>
                    <div class="card-attack"><span class="icon">⚔</span> Attack: 20</div>
                    <div class="card-defense"><span class="icon">🛡</span> Defense: 20</div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>IKémon | ELTE IK Webprogramozás</p>
    </footer>
</body>
</html>